[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "precintcon"]
	path = precintcon
	url = https://github.com/lucasvenez/precintcon
